<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Мой сайт{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <nav class="navbar">
        <a href="/">Главная</a>
        <a href="/gallery">Галерея</a>
    </nav>
</head>
<body>
    
    <div class="container">
        {% block content %}
        <!-- Сюда будет подставляться контент -->
        {% endblock %}
    </div>
</body>
</html>